


.clear{clear:both;}

#footer{background-color:#fff;border-top:2px solid #efefef;color:#666;padding:20px;}
#footnav ul{list-style:none;}
#footnav ul li{float:left;margin-left:10px;}
ul,.sidenav ul{list-style:none;margin:0;}
#topnav,#footnav{float:right;}
.box {background-color: #ebf8ff;padding: 20px;color: #666;border:1px solid #eeeeee;}
.box h2 { color: #519cc6; padding: 0px;}
h2 {   color : #3b7fae;    font-size: 16px;    padding:10px;    border-bottom: 1px solid #eeeeee;}
#url { font-size: 18px; width: 460px;   float:left; margin-right: 10px;}

.videos {
    margin-left:32px;

}

.video {
    float: left;
    margin-right: 9px;
    width: 176px;
}

.thumb {
    border:1px solid #ccc;
    padding: 10px;
    height: 150px;
    background-color: #ebf8ff;
}

.video .thumb a img {
    width : 170px;
    height: 130px;
}

.video .thumb .rating {

margin-top: 1px;
   
}
.video .thumb .views {
    float: right;
    color: #999;
    margin-top: -20px;
    padding-right: 16px;
    font-size: 10px;
    background:url(../images/sstats.png) no-repeat 100% 0px;
}
.frontviews{
    float: right;
    color: #999;
    margin-top: 4px;
    padding-right: 16px;
    font-size: 10px;
    background:url(../images/sstats.png) no-repeat 100% 0px;
}
.video .thumb .date {
    margin-top: 5px;
    float: right;
}
.video h3 {
    font-size: 11px;
    font-weight: 700;
    color: #999;
    padding: 5px 10px 0px 10px;
}
.watch {
    margin:20px;
}

.watch .embed {

 margin-left:0px;

}

.watch .meta {
    margin-top:20px;
    padding: 10px;
}

.watch .meta .info {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

.watch .meta .date {
    padding-left: 20px;
    background:url(../images/cal.png) no-repeat 0px 0px;
}
.watch .meta .rating {
    float: right;
    margin-right: 17px;
    margin-top: 0px;
}
.watch .meta .download {
    float: right;
    padding-right: 20px;
    background:url(../images/save.png) no-repeat 100% 0px;
    margin-right: 27px;   
}
.watch .meta .download a{
    text-decoration: none;
    color: #666;
}
.watch .meta .views {
    float: right;
    padding-right: 20px;
    background:url(../images/sstats.png) no-repeat 100% 0px;
}

.watch .meta .favs {
    float: right;
    padding-right: 20px;
    background:url(../images/heart.png) no-repeat 100% 0px;
    margin-right: 32px;
}

.watch .meta .tags
{
    margin-top: 15px;
    background:url(../images/tag.png) no-repeat 0px 0px;
    padding-left: 20px;
}
.watch .meta .tags a {
    text-decoration: none;
}


.pager {
    margin-top: 20px;
    text-align: center;
}

.pager a , .pager span{
    border:1px solid #CCC;
    padding : 3px 5px 3px 5px;
    margin: 0px 5px 0px 5px;
    text-decoration: none;
    background-color: #ebf8ff;
}

.pager a.next {
    padding-right : 20px;
    background: #ebf8ff url(../images/right.png) no-repeat 100% 70%;
}

.pager a.previous {
    padding-left : 20px;
    background: #ebf8ff url(../images/left.png) no-repeat 0% 70%;
}
.pager a span{
    border:0px;
}
.pager span {
    color : #666;
}

label {
    display: block;
}
.productHeadingType4{
    float: left;
    width: 598px;
}
.vthumb img{
    width: 160px;
    height: 120px;
}
.vthumb{
    float: left;
}
.vtitle {
    float: left;
    text-align:  center;
    font-size: 18px;
    color: #486b78;
    position: absolute;
    margin-left: 180px;
    margin-top: -5px;
    border-bottom: 1px solid #ccc;
}
.vdetails{
    float: left;
    height: 160px;
    width: 120px;
}
.vlinks{  
    float: left;
    width: 420px;
    margin-top: 20px;
    margin-left: 50px;
}
#vidfetchLinks{
    float: left;
    min-height: 200px;
}

#vidfetchLinks ul {    
    float : left;
}

#vidfetchLinks li {
    list-style: none;
    margin-top: 10px;
    float: left;
}
#vidfetchLinks .typeFLV {
    background: url(../images/icons/flv.png) left no-repeat;
}
#vidfetchLinks .typeAAC {
    background: url(../images/icons/aac.png) left no-repeat;
}
#vidfetchLinks .typeMP3 {
    background: url(../images/icons/mp3.png) left no-repeat;
}
#vidfetchLinks .typeMP4 {
    background: url(../images/icons/mp4.png) left no-repeat;
}
#vidfetchLinks .typeAVI {
    background: url(../images/icons/avi.png) left no-repeat;
}
#vidfetchLinks .typeMPA {
    background: url(../images/icons/mp3.png) left no-repeat;
}
#vidfetchLinks li a{
    height: 30px;
    width: 130px;
    display: block;
    text-align: left;
    color: #486b78;
    font-size: 12px;
    text-decoration: none;
    margin-left: 30px;
}
#vidfetchLinks li a span {
    float: left;
    width: 180px;
}
#vidfetchLinks .audio {
    float: left;
    width: 180px;
    margin-left: 15px;
}
#vidfetchLinks .video {
    float: left;
    width: 180px;
}
#vidfetchLinks .vdesc{
    float: left;
}
#vidfetchLinks .typeFLV a{
    margin-top: 10px;
}
#vidfetchLinks .typeAAC a{
    margin-top: 10px;
}
#vidfetchLinks .typeMP3 a{
    margin-top: 10px;
}
#vidfetchLinks .typeMP4 a{
    margin-top: 10px;
}
#vidfetchLinks .typeAVI a{
    margin-top: 10px;
}
#vidfetchLinks .typeMPA a{
    margin-top: 10px;
}
.sorting{
    float: right;
    margin-top: 5px;
    color: #666;
    font-size: 12px;
     padding-bottom: 10px;
    padding-right: 88px;
}
.sorting a{
    margin-right: 10px;
    text-decoration: none;    
}
.sorting .current {
    margin-right: 10px;
}
.lavaLampBottomStyle {
    position: relative;
    overflow: hidden;
    margin-right: 20px;
}
.lavaLampBottomStyle li {
    float: left;
    list-style: none;
}
.lavaLampBottomStyle li.back {
    border-bottom: 3px solid #FFF;
    width: 9px;
    height: 30px;
    z-index: 8;
    position: absolute;
}
.lavaLampBottomStyle li a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
    outline: none;
    text-align: center;
    top: 7px;
    letter-spacing: 0;
    z-index: 10;
    display: block;
    float: left;
    height: 30px;
    position: relative;
    overflow: hidden;
    margin: auto 10px;
    height: 35px;
}
.lavaLampBottomStyle li a:hover, .lavaLampBottomStyle li a:active, .lavaLampBottomStyle li a:visited {
    border: none;
}

.tagcloud p{
    text-align: center;
}

.buttons button {
    overflow: visible;
    padding: 4px 10px 3px 7px;
    width: auto;
}


.buttons button img, a.button img {
    border: medium none;
    float: none;
    height: 16px;
    margin: 0 3px -3px 0 !important;
    padding: 0;
    width: 16px;
}


.video .thumb h3 {
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px 0;
}
h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
}